/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}

svg.foo {
  font-family: "CaskaydiaCode NF","Consolas","Courier New",Helvetica,Arial,sans-serif
}

p {
  font-family: "Calibri","Verdana",Helvetica,Arial,sans-serif
}

figcaption{
  font-family: "Calibri","Verdana",Helvetica,Arial,sans-serif;
  font-size:smaller;
  text-align: center;
}

h1{
  font-family: "Verdana",Helvetica,Arial,sans-serif;
}